.flex{
    display:flex;
    width:800px;
    margin:0;
    padding:0;
    list-style:none;
}
.flex :nth-child(1){
    flex:1 1 300px;
}
.flex :nth-child(2){
    flex:2 2 200px;
}
.flex :nth-child(3){
    flex:3 3 400px;
}