<div ng-include="'modules/smallDemo/views/back.html'"></div>
<div>
  <div class="weui-cells__title">带说明的列表项</div>
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd weui-cell_primary">
        <p>标题文字</p>
      </div>
      <div class="weui-cell__ft">
        说明文字
      </div>
    </div>
  </div>

  <a class="weui-btn weui-btn_plain-primary showDialog">点击弹出窗口</a>

  <!--dialog-->
  <div class="weui-dialog_confirm" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
      <div class="weui-dialog__hd">
        <strong class="weui-dialog__title">弹出窗标题</strong>
      </div>
      <div class="weui-dialog__bd">
        自定义弹窗内容自定义弹窗内容自定义弹窗内容自定义弹窗内容自定义弹窗内容
      </div>
      <div class="weui-dialog__ft">
        <a class="weui-dialog__btn_default weui-dialog__btn cancel">取消</a>
        <a class="weui-dialog__btn_primary weui-dialog__btn sure">确定</a>
      </div>
    </div>

  </div>

  <!--uploader-->
  <div class="uploader">
    <!--gallery-->
    <div class="weui-gallery" id="gallery" style="display:none;">
      <span class="weui-gallery__img" id="galleryImg"></span>
      <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
          <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
      </div>
    </div>
    <!--uploaderFiles-->
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">图片上传</p>
              <div class="weui-uploader__info">0/2</div>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files" id="uploaderFiles">
                <li class="weui-uploader__file" style="background-image: url(images/x1.jpg)"></li>
              </ul>
              <div class="weui-uploader__input-box">
                <input type="file" id="uploaderInput" class="weui-uploader__input" accept="image/*" multiple>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /**********dialog*********************/
  function dialogShow(className){
    $(className).fadeIn(500);
  }
  function dialogHide(className){
    $(className).fadeOut(500);
  }

  $(function(){
    $(".showDialog").click(function(){
      dialogShow('.weui-dialog_confirm');
    });
    $(".cancel").click(function(){
      dialogHide('.weui-dialog_confirm');
    });
    $(".sure").click(function(){
      dialogHide('.weui-dialog_confirm');
    });
  });

  /**************uploader*********************/
  $(function(){
      var tmpl = '<li class="weui-uploader__file" style="background-image: url(#url#)"></li>';
      var $uploaderInput = $('#uploaderInput');
      var $uploaderFiles = $('#uploaderFiles');
      var $gallery = $('#gallery');
      var $galleryImg = $('#galleryImg');
      var $galleryImgDel = $('.weui-gallery__del');
      var currentElem = null;
      $uploaderInput.on('change',function(e){
        var src;
        var url = window.URL || window.webkitURL || window.mozURL;
        var files = e.target.files;
        $.each(files,function(index,info){
          if(url){
            src = url.createObjectURL(info);
          }else{
            src = e.target.result;
          }
          $uploaderFiles.append($(tmpl.replace('#url#',src)));
        });
      });
      $uploaderFiles.on('click','li',function(){
        currentElem = event.target;
        $galleryImg.attr('style',this.getAttribute('style'));
        $gallery.fadeIn(100);
      });
      $galleryImgDel.on('click',function(){
        $gallery.fadeOut(100);
        currentElem.remove();
      });
  });

</script>
