<nav class="nav navbar navbar-fixed-bottom navbar-inverse" ng-controller="navCtrl">
  <div class="footer-item" ng-click="goHome()">
    <i class="glyphicon glyphicon-home"></i>
    <span>首页</span>
  </div>
  <div class="footer-item">
    <i class="glyphicon glyphicon-th"></i>
    <span>分类</span>
  </div>
  <div class="footer-item">
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <span>购物车</span>
  </div>
  <div class="footer-item" ng-click="goUser()">
    <i class="glyphicon glyphicon-user"></i>
    <span>个人中心</span>
  </div>
</nav>
<script>
  var test = $('.navbar-fixed-bottom').offset();
  alert(test.top);
</script>
