<div ng-include="'modules/basic/views/topNavBar.html'"></div>
<div class="marginTop">
  <!--左边部分-->
  <div class="left-section">
    <div class="slide-item">
      <img src="images/lufei.jpg" alt="" ng-click="goSliding()">
      <span>滑动卡头</span>
    </div>
    <div class="slide-item">
      <img src="images/zhuo.jpg" alt="">
      <span>上下拉刷新</span>
    </div>
  </div>
  <!--右边部分-->
  <div class="right-section">
    <div class="slide-item">
      <img src="images/namei.jpg" alt="" ng-click="goMap()">
      <span>百度地图</span>
    </div>

  </div>









</div>
<div ng-include="'modules/basic/views/footerBar.html'"></div>
