html,body{
  font-size:10px;
  height:100%;
  width:100%;
}
ul{
  margin:0;
}

.font-white{
  color:#fff;
}
.marginTop{
  margin-top:50px;
}
.left{
  float:left;
}
.right{
  float:right;
}

/**********顶部导航栏***********/
.nav-top-bar>div{
  height:50px;
  line-height: 50px;
}
.navLeft{
  width:20%;
  float:left;
}
.navRight{
  width:80%;
  float:left;
}
/**********底部导航栏*************/
.footer-item{
  float: left;
  width: 25%;
  height:50px;
  color: #fff;
  text-align: center;
  padding-top:5px;
}
.footer-item>span{
  display: block;
}
